.main-login {
  width: 100%;
  height: auto;
  display: flex;
  padding-top: 2rem;
  /* align-items: center; */
}
h1 {
  font-weight: 200;
  margin-bottom: 1rem;
}
h4 {
  font-weight: 200;
  margin-bottom: 1rem;
}

p {
  font-weight: 200;
  font-size: 14px;
}
.login-part {
  width: 50%;
  height: 100%;
}
.login-part form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  /* line-height: 3rem; */
}
.name-div {
  /* background-color: aqua; */
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.name-div input {
  width: 100% !important;
}
.login-part form p {
  font-size: 12px;
  width: 80%;
}
.login-part form input {
  width: 80%;
  height: 3rem;
  outline: blue;
  padding-left: 1rem;
}
.login-part form button {
  width: 80%;
  height: 3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.btn-signIn {
  background-color: blue;
  color: white;
}
.check_box {
  display: flex;
  align-items: center;
}
.checkbox {
  width: 15px !important;
  height: 15px;
}

.second-login-part {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 246, 247);
}
.login-box {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  /* background-color: aquamarine; */
  justify-content: center;
}
.login-box1 {
  width: 30%;
  height: auto;
  /* background-color: blue; */
}
